{% extends "home/index.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a>{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:'d F, Y H:i e' }}</small>
        {% if object.author == user %}
          <div>
            <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'PostDeleteView' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <p class="article-content">{{ object.price }}</p>
    </div>
  </article>
{% endblock content %}
